.wrap {
  flex: 1;
  display: flex;
  height: 94vh;
  overflow-x: hidden;
}

.nav {
  display: flex;
  border-bottom: 1px solid black;
  margin: 10px;
}

.wrap h3 {
  font-size: 32px;
  margin-bottom: 10px;
}
.top {
  flex: 1;
  border-right: 3px solid gray;
}
.content {
  flex: 1;
  margin: 0 10px;
  word-break: break-all;
}
.bot {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
  flex: 0.3;
}
.bot button {
  width: 100%;
  font-size: 20px;
}

@media (max-width: 800px) {
  .wrap {
    flex-direction: column;
  }
  .bot {
    flex: 0;
  }
  .top {
    border: none;
  }
}
