.home {
  padding: 10px;
  flex: 1;
}
.list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.home_nav {
  display: flex;
  justify-content: space-between;
}
.plus_m {
  display: none;
}

@media (max-width: 800px) {
  .plus_m {
    display: block;
  }
  .plus_pc {
    display: none;
  }
}
