.wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrap form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrap input {
  border-bottom: 1px solid black;
}

.wrap .btn {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.wrap button {
  width: 100%;
}
